html,
body,
p,
ol,
ul,
li,
textarea,
pre,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal
}

ul {
    list-style: none
}

button,
input,
select {
    margin: 0
}

*,
*::before,
*::after {
    box-sizing: border-box
}

img {
    height: auto;
    max-width: 100%
}

a {
    text-decoration: none;
}

body {
    font-family: 'Roboto';
    font-size: 22px;
}



.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1440px;
}

.nav_link {

    color: #C7C7C7;
    font-size: 24px;
    font-weight: 300;


}

.nav_link:hover {
    color: #FFF;
}

.header {
    background-color: #012D63;
    font-size: 24px;
    display: flex;
}

.logo_img {

    width: 100px;
    height: 60px;

}


.header_nav_div {

    display: flex;
    align-items: center;
    width: 1400px;
}

.header_nav {
    display: flex;
    column-gap: 30px;
}

.language_link {

    color: #DCDCDC;
    font-size: 24px;
    font-weight: 300;
    margin-left: 70px;
}

.en {
    color: #FFF;
    font-size: 24px;
    font-weight: 400;
    margin-left: 5px;
}



/* =================================================================================================================================================================== */
.main_background {


    width: 1440px;
    height: 860px;
}

.main_hero {

    color: #FFF;
    font-family: "PT Serif ";
    font-size: 48px;
    font-weight: 400;

}

.main_hero::before {

    content: url(img/logo.png);
    display: block;
    margin-bottom: -25px;


}

.hero_section_div {

    background-image: url(img/background-image.jpg);
    background-repeat: no-repeat;
    max-width: 1440px;
    background-position: center;
    height: 100%;
}


.hero_div {
    display: flex;
    flex-direction: column;
    width: 640px;

}

.img_hero {

    width: 160px;
    height: 120px;
}


.title {
    color: #FFF;
    font-family: Playfair Display;
    font-size: 144px;
    font-weight: 400;

}

.subtitle {

    color: #FFF;
    font-family: Playfair Display;
    font-size: 72px;
    font-weight: 400;

}

.description {
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 40px;

}


.nikelogo {
    margin-top: 91px;
}

.logo {
    margin-right: 150px;
}

.title {
    font-family: 'Playfair Display', serif;
    font-size: 144px;
    font-weight: 400;
}

.subtitle {
    font-family: 'Playfair Display', serif;
    font-size: 72px;
    font-weight: 400;
}

.description {
    font-size: 18px;
    font-weight: 400;
}

.buy_button {

    width: 254px;
    height: 67px;
    border-radius: 10px;
    background: #8E32C6;
    color: #FFF;
    font-size: 24px;
    font-weight: 400;

}

.specials {
    display: flex;
    width: 1440px;
    height: 606px;
    background-image: url(img/special-background.jpg);
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;


}

.section_list {
    display: flex;
    width: 1110px;
    height: 396px;
    stroke-width: 5px;
    stroke: #8E32C6;
    border: 5px solid #8E32C6;
    align-items: center;
    column-gap: 50px;
    justify-content: center;

}

.section_item_mid {
    width: 335px;
    display: flex;
    align-items: center;
    border-left: 1px solid #fff;
    flex-direction: column;
    border-right: 1px solid #fff;

}

.section_item_mid>img {

    width: 240px;
    height: 240px;
}

.excerpt {
    font-family: 'Playfair Display';
    font-size: 36px;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
}


.logo {
    font-family: 'PT Serif', serif;
    font-size: 48px;
    font-weight: 400;
    color: #fff;
}

.title {
    font-family: 'Playfair Display', serif;
    font-size: 144px;
    font-weight: 400;
}

.Reviews_section {

    background-image: url(img/flowers.png), url(img/review-background.jpg);
    background-repeat: no-repeat;
    width: 1440px;
    height: 520px;
    background-position: left bottom;
}

.section_title {

    color: #FFF;
    text-align: center;
    font-family: Playfair Display;
    font-size: 48px;
    font-weight: 400;

}

.review_list {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 520px;

}




.review_list_item:nth-child(1) {
    border-radius: 15px;
    background: linear-gradient(137deg, #00E5E6 7.29%, #00A8F7 26.04%, #9A76F9 62.5%, #CC5EC2 100%);
    box-shadow: 0px 30px 0px -13px #533978, 0px 14px 0px -5px #7B54B2;
    width: 255px;
    height: 292px;
    padding: 49px 14px 29px 13px;
}

.review_list_item:nth-child(2) {
    border-radius: 15px;
    background: linear-gradient(137deg, #FF68B4 0%, #FF45E1 26.04%, #CE3AFF 62.84%, #8961FF 100%);
    box-shadow: 0px 30px 0px -13px #61337C, 0px 14px 0px -5px #9159B1;
    width: 255px;
    height: 292px;
    padding: 49px 18px 9px;

}

.review_list_item:nth-child(3) {
    border-radius: 15px;
    background: linear-gradient(143deg, #FFE128 0%, #FF9B5C 30.21%, #FF8381 63.29%, #FF5489 100%);
    box-shadow: 0px 30px 0px -13px #732F26, 0px 14px 0px -5px #B95A4C;
    width: 255px;
    height: 292px;
    padding: 49px 9px 30px 18px;

}

.review_img {

    width: 31px;
    height: 31px;
}

.review_list_item {
    color: #FFF;
    font-size: 24px;
    font-weight: 400;
}

.date {

    color: #D8D8D8;
    font-size: 14px;
    font-weight: 400;
}

.customer_name {

    color: #FFF;
    font-size: 14px;
    font-weight: 400;
}

.time_with_us {

    font-size: 12px;
    margin-left: 5px;
    margin-bottom: 30px;
}




.photo_div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    margin-top: 50px;


}


.footer {
    background-color: #021635;
    color: #fff;
}

.email {
    color: #fff;
    text-decoration: underline;
}

.footer_list {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.logo_footer {
    font-size: 24px;
    color: #fff;
}

.order {

    background-image: url(img/footer-background.jpg);
}

.title_footer {

    color: #FFF;
    font-family: Playfair Display;
    font-size: 48px;
    font-weight: 400;
    display: flex;
    justify-content: center;

}


.footer {

    display: flex;
}



.label {

    width: 690px;
    height: 60px;
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    background: #FFF;
    justify-content: center;
}

.button_Nike {

    width: 248px;
    height: 68px;
    border-radius: 16px;
    background: #8E32C6;
    color: #FFF;
    font-size: 24px;
    font-weight: 400;
}

.footer_list>p {

    display: flex;
    justify-content: flex-start
}