html,
body,
p,
ol,
ul,
li,
textarea,
pre,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal
}

ul {
    list-style: none
}

button,
input,
select {
    margin: 0
}

*,
*::before,
*::after {
    box-sizing: border-box
}

img {
    height: auto;
    max-width: 100%
}

a {
    text-decoration: none;
}

body {
    font-family: 'Roboto';
    font-size: 22px;
}



.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1440px;
}

.nav_link {

    color: #C7C7C7;
    font-size: 24px;
    font-weight: 300;


}

.nav_link:hover {
    color: #FFF;
}

.header {
    background-color: #012D63;
    font-size: 24px;
    display: flex;
}

.logo_img {

    width: 100px;
    height: 60px;

}


.header_nav_div {

    display: flex;
    align-items: center;
    width: 1400px;
}

.header_nav {
    display: flex;
    column-gap: 30px;
}

.language_link {

    color: #DCDCDC;
    font-size: 24px;
    font-weight: 300;
    margin-left: 70px;
}

.en {
    color: #FFF;
    font-size: 24px;
    font-weight: 400;
    margin-left: 5px;
}



/* =================================================================================================================================================================== */
.main_background {

    width: 1440px;
    height: 860px;
}

.main_hero {

    color: #FFF;
    font-family: "PT Serif ";
    font-size: 48px;
    font-weight: 400;

}

.main_hero::before {

    content: url(img/logo.png);
    display: block;
    margin-bottom: -25px;


}

.hero_section_div {

    background-image: url(img/background-image.jpg);
    background-repeat: no-repeat;
    max-width: 1440px;
    background-position: center;
    height: 100%;
}


.hero_div {
    display: flex;
    flex-direction: column;
    width: 640px;

}

.img_hero {

    width: 160px;
    height: 120px;
}


.title {
    color: #FFF;
    font-family: Playfair Display;
    font-size: 144px;
    font-weight: 400;

}

.subtitle {

    color: #FFF;
    font-family: Playfair Display;
    font-size: 72px;
    font-weight: 400;

}

.description {
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 40px;

}


.nikelogo {
    margin-top: 91px;
}

.logo {
    margin-right: 150px;
}

.title {
    font-family: 'Playfair Display', serif;
    font-size: 144px;
    font-weight: 400;
}

.subtitle {
    font-family: 'Playfair Display', serif;
    font-size: 72px;
    font-weight: 400;
}

.description {
    font-size: 18px;
    font-weight: 400;
}

.buy_button {

    width: 254px;
    height: 67px;
    border-radius: 10px;
    background: #8E32C6;
    color: #FFF;
    font-size: 24px;
    font-weight: 400;

}

.specials {
    display: flex;
    width: 1440px;
    height: 606px;
    background-image: url(img/special-background.jpg);
    background-repeat: no-repeat;

}

.section_list {


    display: flex;
    width: 1110px;
    height: 396px;
    stroke-width: 5px;
    stroke: #8E32C6;
    border: 5px solid #8E32C6;

}

.excerpt {
    font-family: 'Playfair Display';
    font-size: 36px;
    font-weight: 400;
    color: #FFF;
    text-align: center;
}


.logo {
    font-family: 'PT Serif', serif;
    font-size: 48px;
    font-weight: 400;
    color: #fff;
}

.title {
    font-family: 'Playfair Display', serif;
    font-size: 144px;
    font-weight: 400;
}

.review {
    font-size: 24px;
    width: 228px;
    height: 112px;
}

.review_list {
    display: flex;
}


footer {
    background-color: #021635;
    color: #fff;
}

.email {
    color: #fff;
    text-decoration: underline;
}

.footer_list {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.logo_footer {
    font-size: 24px;
    color: #fff;
}