html,
body,
p,
ol,
ul,
li,
textarea,
pre,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal
}

ul {
    list-style: none
}

button,
input,
select {
    margin: 0
}

*,
*::before,
*::after {
    box-sizing: border-box
}

img {
    height: auto;
    max-width: 100%
}

a {
    text-decoration: none;
}

body {
    font-family: 'Jost';
    font-size: 22px;
}



.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1440px;
}


.header {
    background-color: #012D63;
    font-size: 24px;
    display: flex;
}

.header-nav {
    display: flex;
    flex-direction: row;

}




/* =================================================================================================================================================================== */
.main-background
/* width: 1440px; */

    {
    background-image: url();
    background-repeat: no-repeat;
    background-size: 100% 100%;
}



.nikelogo {
    margin-top: 91px;
}

.logo {
    font-family: 'PT Serif', serif;
    font-size: 48px;
    font-weight: 400;
    color: #fff;
}

.title {
    font-family: 'Playfair Display', serif;
    font-size: 144px;
    font-weight: 400;
}

.subtitle {
    font-family: 'Playfair Display', serif;
    font-size: 72px;
    font-weight: 400;
}

.description {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.image_section {
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    font-weight: 400;
    background-image: url(img/imgsectionbg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 606px;
}

.image_list {
    display: flex;
    justify-content: center;
}


.logo {
    font-family: 'PT Serif', serif;
    font-size: 48px;
    font-weight: 400;
    color: #fff;
}

.title {
    font-family: 'Playfair Display', serif;
    font-size: 144px;
    font-weight: 400;
}